:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

.no-borders .list-group-item {
  border: none;
}

.container-style {
  background-color: #3E7CB1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-style {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.input-style {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button-style {
  width: 150px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  background-color: #444444;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.page-content {
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f8f9fa;
}

.primary-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.primary-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.notification-row:hover {
  background-color: #f8f9fa; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.2s, box-shadow 0.2s;
}
